---
layout: default
---

<div id="page">
  {% for post in site.categories.digest reversed %}
  {% include _post.html %}
  {% endfor %}
  {% include _disqus.html %}
</div>
<div id="nav">
  <div class="toc section">
    <ol>
    {% for post in site.categories.digest reversed %}
      <li><a page-url="{{site.baseurl}}{{ post.url }}" href="#{{post.klass}}">{{ post.title }}</a></li>
    {% endfor %}
    </ol>
  </div>
  <div class="section">
    <a href="{{ site.baseurl }}/">English</a>
    <a href="{{ site.baseurl }}/zh/">SeaJS 所为何</a>
    <a href="/">关于作者</a>
  </div>
</div>