---
---

// Color Theme
// http://kuler.adobe.com/#themeID/69576

@import 'reset';
@import 'syntax/github';
@import url(https://fonts.googleapis.com/css?family=Courgette);

#nav {
  position: fixed;
  top: 190px;
  left: 50%;
  width: 140px;
  margin-left: -515px;
  text-align: right;

  li {
    display: block;
  }

  a:link, a:visited {
    text-decoration: none;
    color: #efefef;
    font-size: 14px;
    display: block;
    padding: 5px 10px;

    &:hover {
      background: #f50;
      transition: background 0.2s ease-in;
    }
  }

  .section {
    background: #333;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 5px 0;
    margin-bottom: 20px;
  }
}

.article-wrap {
  padding: 0 0 70px;
  text-align: center;
  font-size: 14px;
  font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif;
  color: #333;

  h2, .subtitle {
    color: #fff;
    font-family: 'Courgette', cursive;
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 5px;
  }
  h2 {
    font-size: 60px;
    font-weight: 800;
    padding: 40px 20px 10px;
  }
  h3 {
    text-align: center;
    font-weight: 400;
    font-size: 120%;
    margin: 30px 0 15px;
  }
  .subtitle {
    font-size: 24px;
    color: #ccc;
    margin-bottom: 15px;
    padding: 0 20px;
  }
  article {
    margin: 0 auto;
    max-width: 720px;
    text-align: left;
  }
  .content {
    background: #efefef;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 15px;
    border-radius: 2px;
  }
  p {
    padding: 5px 0;
  }
  em {
    font-style: italic;
  }
  ul, ol {
    padding-left: 40px;
  }
  ul li {
    list-style: circle;
  }
  ol li {
    list-style: decimal;
  }
  p, ul {
    em, code {
      border-radius: 2px;
      border: 1px solid #ccc;
      background: #efefef;
      padding: 0px 2px;
    }
  }
  .highlight, code, kbd, pre, samp {
    font-family: Monaco, Consolas, monospace;
  }
  .highlight {
    font-size: 12px;
    border-radius: 2px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4) inset;
    padding: 7px 10px;
    margin: 10px 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
  }
}

.article-intro {
  background: #21212B;

  h2 {
    color: #f50;
  }
}
.article-basic {
  background: #4E6092;
}
.article-async {
  background: #394B61;
}
.article-dive-into {
  background: #1E2733;
}
.article-deploy {
  background: #222D49;
}
.article-digest {
  background: #1E2733;
}
.article-why-web-modules {
  background: #394B61;
}
.article-why-amd {
  background: #1E2733;
}
